<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wangfei.ble">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android6.0 蓝牙扫描才需要 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>